---
pageTitle: Блог
---

<link rel="stylesheet" href="{{root}}assets/css/brands.css">

<section class="brands">
	<div class="inner">
		<h1 class="brands__title">Бренди</h1>
		<div class="brands__items">
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand1.png" alt="">
					<h2 class="brands__item-title">Bioelements</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand2.png" alt="">
					<h2 class="brands__item-title">Carmara</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand3.png" alt="">
					<h2 class="brands__item-title">Cosmedix</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand4.png" alt="">
					<h2 class="brands__item-title">Curlyshyll</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand5.png" alt="">
					<h2 class="brands__item-title">Davroe</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand6.png" alt="">
					<h2 class="brands__item-title">Dr. Barbara STRUM</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand7.png" alt="">
					<h2 class="brands__item-title">Janeke</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand8.png" alt="">
					<h2 class="brands__item-title">Jan Marini</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand9.png" alt="">
					<h2 class="brands__item-title">Instytutum</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand10.png" alt="">
					<h2 class="brands__item-title">Is Clinical</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand11.png" alt="">
					<h2 class="brands__item-title">Mediceuticals</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand12.png" alt="">
					<h2 class="brands__item-title">Medik8</h2>
				</a>
			</div>
			<div class="brands__item">
				<a href="#">
					<img src="{{root}}assets/images/brand13.png" alt="">
					<h2 class="brands__item-title">Rejuran</h2>
				</a>
			</div>
		</div>
	</div>
</section>
