---
pageTitle: Home page
---

<!--
todo: All examples to BAM.
todo: Styles.
-->

<link rel="stylesheet" href="{{root}}assets/css/banner-home.css">
<section class="banner-home">
	<div class="banner-slider" data-slider="banner-slider">
		<div>
			<div class="banner-home__item">
				<div class="banner-home__wrap">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/wrap-image.png" alt="">
					<div class="banner-home__text">
						<h1 class="banner-home__title">Твій гайд по догляду за шкірою взимку</h1>
						<a href="#" class="btn">Детальніше</a>
					</div>
				</div>
				<div class="banner-home__image">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/home-slide-1.png" alt="">
				</div>
			</div>
		</div>
		<div>
			<div class="banner-home__item">
				<div class="banner-home__wrap">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/wrap-image.png" alt="">
					<div class="banner-home__text">
						<h1 class="banner-home__title">Твій гайд по догляду за шкірою взимку</h1>
						<a href="#" class="btn">Детальніше</a>
					</div>
				</div>
				<div class="banner-home__image">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/home-slide-1.png" alt="">
				</div>
			</div>
		</div>
		<div>
			<div class="banner-home__item">
				<div class="banner-home__wrap">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/wrap-image.png" alt="">
					<div class="banner-home__text">
						<h1 class="banner-home__title">Твій гайд по догляду за шкірою взимку</h1>
						<a href="#" class="btn">Детальніше</a>
					</div>
				</div>
				<div class="banner-home__image">
					<img class="object-fit-cover object-fit" src="{{root}}assets/images/home-slide-1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/number.css">
<section class="number">
	<div class="inner">
		<div class="number__wrap">
			<div class="number__item">
				<img class="number__image" src="{{root}}assets/images/image-number-1.png" alt="">
				<h3 class="number__subtitle">Більше 10 послуг для здоров’я та краси твого тіла</h3>
			</div>
			<div class="number__item">
				<h2 class="number__title">500+</h2>
				<h3 class="number__subtitle">Задоволених та постійних клієнтів</h3>
			</div>
			<div class="number__item">
				<img class="number__image" src="{{root}}assets/images/image-number-2.png" alt="">
				<h3 class="number__subtitle">Індивідуальний підбір засобів під ваші потреби</h3>
			</div>
			<div class="number__item">
				<h2 class="number__title">10+</h2>
				<h3 class="number__subtitle">Брендів  доглядової косметики </h3>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/trusted.css">
<section class="trusted">
	<div class="inner">
		<h2 class="trusted__title">Бренди</h2>
		<div class="marquee" data-gap="88">
			<div class="trusted__items">
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor1.png" alt="">
				</div>
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor2.png" alt="">
				</div>
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor3.png" alt="">
				</div>
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor4.png" alt="">
				</div>
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor5.png" alt="">
				</div>
				<div class="trusted__item">
					<img src="{{root}}assets/images/sponsor6.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
