---
pageTitle: Послуги
---

<!--
todo: All examples to BAM.
todo: Styles.
-->

<link rel="stylesheet" href="{{root}}assets/css/banner-pages.css">
<section class="banner-pages">
	<img class="object-fit-cover object-fit" src="{{root}}assets/images/banner-services.jpg" alt="">
	<div class="inner">
		<h1 class="banner-pages__title">Послуги</h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/services.css">
<section class="services">
	<div class="inner">
		<div class="services__types">
			<theme-tabs>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-1.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-1.svg" alt="">
					</div>
					<p class="tab-button__text">Доглядові процедури</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-2.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-2.svg" alt="">
					</div>
					<p class="tab-button__text">Масаж на апараті icoone laser med</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-3.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-3.svg" alt="">
					</div>
					<p class="tab-button__text">Ін’єкційні процедури</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-4.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-4.svg" alt="">
					</div>
					<p class="tab-button__text">Контурна пластика губ</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-5.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-5.svg" alt="">
					</div>
					<p class="tab-button__text">Монодозний догляд</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-6.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-6.svg" alt="">
					</div>
					<p class="tab-button__text">Електрокоагулятор</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-7.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-7.svg" alt="">
					</div>
					<p class="tab-button__text">Мезотерапія</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-8.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-8.svg" alt="">
					</div>
					<p class="tab-button__text">Пілінг</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-9.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-9.svg" alt="">
					</div>
					<p class="tab-button__text">Блішинг</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-10.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-10.svg" alt="">
					</div>
					<p class="tab-button__text">Карбокситерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-11.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-11.svg" alt="">
					</div>
					<p class="tab-button__text">Пресотерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-12.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-12.svg" alt="">
					</div>
					<p class="tab-button__text">Жовтий лазер</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-13.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-13.svg" alt="">
					</div>
					<p class="tab-button__text">Ліполітики</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="tabs__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-14.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-14.svg" alt="">
					</div>
					<p class="tab-button__text">Ботулінотерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
			</theme-tabs>
		</div>
		<div class="services__accordion">
			{{#>accordion}}
				{{#>accordion-button}}
					Доглядові процедури
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Масаж на апараті icoone laser med
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Ін’єкційні процедури
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Контурна пластика губ
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Монодозний догляд
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Електрокоагулятор
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Мезотерапія
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Пілінг
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Блішинг
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Карбокситерапія
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Пресотерапія
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Жовтий лазер
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Ліполітики
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					Ботулінотерапія
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
									косметиці Is Clinical
									<ul>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
		</div>
	</div>
</section>
<script type="module" src="{{root}}assets/js/modules/tabs.js"></script>
<script type="module" src="{{root}}assets/js/modules/faq-search.js"></script>
