---
pageTitle: Послуги
---

<!--
todo: All examples to BAM.
todo: Styles.
-->

<link rel="stylesheet" href="{{root}}assets/css/banner-pages.css">
<section class="banner-pages">
	<img class="object-fit-cover object-fit" src="{{root}}assets/images/banner-services.jpg" alt="">
	<div class="inner">
		<h1 class="banner-pages__title">Послуги</h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/services.css">
<section class="services">
	<div class="inner">
		<div class="services__types">
			<theme-tabs>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-1.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-1.svg" alt="">
					</div>
					<p class="services__text">Доглядові процедури</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-2.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-2.svg" alt="">
					</div>
					<p class="services__text">Масаж на апараті ICOONE LASER MED</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-3.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-3.svg" alt="">
					</div>
					<p class="services__text">Ін’єкційні процедури</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-4.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-4.svg" alt="">
					</div>
					<p class="services__text">Контурна пластика губ</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-5.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-5.svg" alt="">
					</div>
					<p class="services__text">Монодозний догляд</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-6.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-6.svg" alt="">
					</div>
					<p class="services__text">Електрокоагулятор</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-7.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-7.svg" alt="">
					</div>
					<p class="services__text">Мезотерапія</p>
				</theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-8.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-8.svg" alt="">
					</div>
					<p class="services__text">Пілінг</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-9.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-9.svg" alt="">
					</div>
					<p class="services__text">Блішинг</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-10.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-10.svg" alt="">
					</div>
					<p class="services__text">Карбокситерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-11.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-11.svg" alt="">
					</div>
					<p class="services__text">Пресотерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-12.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-12.svg" alt="">
					</div>
					<p class="services__text">Жовтий лазер</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-13.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-13.svg" alt="">
					</div>
					<p class="services__text">Ліполітики</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
				<theme-tabs-button>
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-14.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-14.svg" alt="">
					</div>
					<p class="services__text">Ботулінотерапія</p></theme-tabs-button>
				<theme-tabs-content>
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				</theme-tabs-content>
			</theme-tabs>
		</div>
		<div class="services__accordion">
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-1.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-1.svg" alt="">
					</div>
					<p class="services__text">Доглядові процедури</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-2.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-2.svg" alt="">
					</div>
					<p class="services__text">Масаж на апараті ICOONE LASER MED</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-3.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-3.svg" alt="">
					</div>
					<p class="services__text">Ін’єкційні процедури</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-4.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-4.svg" alt="">
					</div>
					<p class="services__text">Контурна пластика губ</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-5.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-5.svg" alt="">
					</div>
					<p class="services__text">Монодозний догляд</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-6.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-6.svg" alt="">
					</div>
					<p class="services__text">Електрокоагулятор</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-7.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-7.svg" alt="">
					</div>
					<p class="services__text">Мезотерапія</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-8.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-8.svg" alt="">
					</div>
					<p class="services__text">Пілінг</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-9.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-9.svg" alt="">
					</div>
					<p class="services__text">Блішинг</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-10.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-10.svg" alt="">
					</div>
					<p class="services__text">Карбокситерапія</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-11.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-11.svg" alt="">
					</div>
					<p class="services__text">Пресотерапія</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-12.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-12.svg" alt="">
					</div>
					<p class="services__text">Жовтий лазер</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-13.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-13.svg" alt="">
					</div>
					<p class="services__text">Ліполітики</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu#" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
			{{#>accordion}}
				{{#>accordion-button}}
					<div class="services__icon-image">
						<img class="black" src="{{root}}assets/images/icon-black-14.svg" alt="">
						<img class="white" src="{{root}}assets/images/icon-white-14.svg" alt="">
					</div>
					<p class="services__text">Ботулінотерапія</p>
				{{/accordion-button}}
				{{#>accordion-panel}}
					<div class="tabs__tabs-content_items">
						<div class="tabs__tabs-content_items_item">
							<div class="tabs__tabs-content_items_item_text">
								<div class="tabs__tabs-content_items_item_text_editor">
									<h3>Опис</h3>
									<p>В нашій клініці ви можете знайти різноманітні передові доглядові процедури для
										обличчя та тіла, які дозволять вам виглядати блискуче</p>
									<ul>
										<li>Усім відома процедура червоної доріжки — «Вогонь та лід», що виконується на
											косметиці Is Clinical
										</li>
										<li>Доглядові монодозні процедури CASMARA — антиоксидантний, очищуючий,
											ультраомолоджуючий, для зони навколо очей або з ефектом безін‘єкційної
											біоревіталізації з 24-канатним мікрозолотом.
										</li>
										<li>RF-ліфтинг обличчя та шиї</li>
										<li>Механічна та автоматична чиста обличчя та ділянок тіла
										</li>
										<li>LED терапія</li>
										<li>Догляд для боротьби з пігментацією
										</li>
										<li>Догляд за зоною навколо очей</li>
									</ul>
								</div>
								<a href="#popup-menu" class="btn">записатись на прийом</a>
							</div>
							<div class="tabs__tabs-content_items_item_image">
								<img src="{{root}}assets/images/image-page-services.png" alt="">
							</div>
						</div>
					</div>
				{{/accordion-panel}}
			{{/accordion}}
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/home-reviews.css">
<section class="home-reviews">
	<div class="inner">
		<h2 class="home-reviews__title">Відгуки</h2>
		<div class="slider-reviews" data-slider="slider-reviews">
			<div>
				<div class="home-reviews__item">
					<div class="home-reviews__item_text">
						<div class="home-reviews__item_text_stars">
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						</div>
						<p>Перший візит у вашу клініку приніс масу задоволення. Результат процедури видно з перших
							хвилин.
							Підхід лікаря приємно вражає. Дякую!</p>
						<h3>Наталія</h3>
					</div>
				</div>
			</div>
			<div>
				<div class="home-reviews__item">
					<div class="home-reviews__item_text">
						<div class="home-reviews__item_text_stars">
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						</div>
						<p>Перший візит у вашу клініку приніс масу задоволення. Результат процедури видно з перших
							хвилин.
							Підхід лікаря приємно вражає. Дякую!</p>
						<h3>Наталія</h3>
					</div>
				</div>
			</div>
			<div>
				<div class="home-reviews__item">
					<div class="home-reviews__item_text">
						<div class="home-reviews__item_text_stars">
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						</div>
						<p>Перший візит у вашу клініку приніс масу задоволення. Результат процедури видно з перших
							хвилин.
							Підхід лікаря приємно вражає. Дякую!</p>
						<h3>Наталія</h3>
					</div>
				</div>
			</div>
			<div>
				<div class="home-reviews__item">
					<div class="home-reviews__item_text">
						<div class="home-reviews__item_text_stars">
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						</div>
						<p>Перший візит у вашу клініку приніс масу задоволення. Результат процедури видно з перших
							хвилин.
							Підхід лікаря приємно вражає. Дякую!</p>
						<h3>Наталія</h3>
					</div>
				</div>
			</div>
			<div>
				<div class="home-reviews__item">
					<div class="home-reviews__item_text">
						<div class="home-reviews__item_text_stars">
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						</div>
						<p>Перший візит у вашу клініку приніс масу задоволення. Результат процедури видно з перших
							хвилин.
							Підхід лікаря приємно вражає. Дякую!</p>
						<h3>Наталія</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="module" src="{{root}}assets/js/modules/tabs.js"></script>
<script type="module" src="{{root}}assets/js/modules/faq-search.js"></script>

