---
pageTitle: Blog post page
---

<link rel="stylesheet" href="{{root}}assets/css/blog-and-defaults-pages.css">

<section class="blog-post">
	<div class="inner">
		<div class="blog-post__wrapper">
			<div class="blog-post__left">
				<div class="blog-post__back">
					<a class="blog-post__back-link" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" fill="none">
							<path fill="currentColor"
							      d="M.646 4.354a.5.5 0 0 1 0-.708L3.828.464a.5.5 0 1 1 .708.708L1.707 4l2.829 2.828a.5.5 0 1 1-.708.708L.646 4.354ZM11 4.5H1v-1h10v1Z"/>
						</svg>
						Back to Blog</a>
				</div>

				<section class="blog-post__item">
					<h1 class="blog-post__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque
						fermentum.</h1>
					<div class="blog-post__posted">June 30, 2023</div>
					<div class="blog-post__thumbnail">
						<img class="blog-post__image" src="{{root}}assets/images/blog/blog-single-banner.jpg" alt="">
					</div>
					<div class="blog-article-categories blog-post__categories" aria-label="Categories">
						<a class="blog-article-categories__link" href="#" rel="category tag">Remodel</a>
						<a class="blog-article-categories__link" href="#" rel="category tag">Cabinets</a>
					</div>
				</section>

				<section class="blog-post-content">
					<div class="blog-post-content__content">
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu.</p>
						<p class="blog-post-content__p">Vehicula interdum sociis lorem magna amet. Eget libero, amet risus
							hendrerit in. At venenatis congue ultricies lacus.</p>
						<h2 class="blog-post-content__h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. </h2>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu. </p>
						<p class="blog-post-content__p">Vehicula interdum sociis lorem magna amet. Eget libero, amet risus
							hendrerit in. At venenatis congue ultricies lacus.</p>
						<blockquote class="blog-post-content__blockquote">
							<p class="blog-post-content__p">Lorem ipsum dolor sit amet consectetur. Amet etiam amet ut
								adipiscing viverra. Et duis tristique ut proin phasellus.</p>
						</blockquote>
						<h2 class="blog-post-content__h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. </h2>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu. </p>
						<p class="blog-post-content__p">Vehicula interdum sociis lorem magna amet. Eget libero, amet risus
							hendrerit in. At venenatis congue ultricies lacus.</p>
						<p class="blog-post-content__p">
							<a href="https://#.docx">Download Now: Lorem ipsum</a>
						</p>
						<h2 class="blog-post-content__h2">Auctor lacus, urna, gravida purus mattis libero arcu, arcu
							nibh.</h2>
						<h3 class="blog-post-content__h3">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu.</p>
						<h3 class="blog-post-content__h3">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<ul class="blog-post-content__ul">
							<li class="blog-post-content__li">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Auctor lacus, urna, gravida purus mattis libero arcu, arcu nibh.
							</li>
							<li class="blog-post-content__li">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Auctor lacus, urna, gravida purus mattis libero arcu, arcu nibh.
							</li>
							<li class="blog-post-content__li">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Auctor lacus, urna, gravida purus mattis libero arcu, arcu nibh.
							</li>
						</ul>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu.</p>
						<h3 class="blog-post-content__h3">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu.</p>
						<img src="{{root}}assets/images/blog/blog-post-content-half.png" alt="" class="blog-post-content__img alignleft">
						<a class="blog-post-content__a"
						   href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=9s&ab_channel=RickAstley">
							<img class="blog-post-content__img alignright" src="{{root}}assets/images/blog/blog-post-content-half.png" alt="">
						</a>
						<p class="blog-post-content__p"><a href="#" class="btn">Lorem ipsum</a></p>
						<h3 class="blog-post-content__h3">4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
						<p class="blog-post-content__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
							lacus, urna, gravida purus mattis libero arcu, arcu nibh. Ante adipiscing mauris suspendisse mi
							dictum gravida a sed. Pretium, neque nec lectus nisi, non lacus leo malesuada. Nulla et
							dignissim enim nunc, amet, felis, pellentesque tempus aliquet.</p>
						<p class="blog-post-content__p">Morbi massa porta turpis odio id magna tincidunt ut nulla. Aliquam
							arcu lectus rhoncus penatibus cursus. Quisque hendrerit a velit velit diam euismod suspendisse
							arcu.</p>
						<a class="blog-post-content__a"
						   href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=9s&ab_channel=RickAstley">
							<img class="blog-post-content__img alignnone" src="{{root}}assets/images/blog/blog-single-content.jpg"
								 alt="">
						</a>
					</div>
					<div class="blog-post__back">
						<a class="blog-post__back-link" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" fill="none">
								<path fill="currentColor"
								      d="M.646 4.354a.5.5 0 0 1 0-.708L3.828.464a.5.5 0 1 1 .708.708L1.707 4l2.829 2.828a.5.5 0 1 1-.708.708L.646 4.354ZM11 4.5H1v-1h10v1Z"/>
							</svg>
							Back to Blog
						</a>
					</div>
					<div class="blog-post-content__share">
						<h2 class="blog-post-content__share-title">Don’t forget to share this post!</h2>
						<div class="blog-post-content__share-wrapper">
							<a href="#" class="blog-post-content__share-link">
								<img
									src="{{root}}assets/images/share-icons/share-facebook.svg"
									class="blog-post-content__share-image"
									alt=""
									aria-hidden="true"
								>
								<span class="screen-reader-text">Facebook</span>
							</a>
							<a href="#" class="blog-post-content__share-link">
								<img
									src="{{root}}assets/images/share-icons/share-linkedin.svg"
									class="blog-post-content__share-image"
									alt=""
									aria-hidden="true"
								>
								<span class="screen-reader-text">LinkedIn</span>
							</a>
							<a href="#" class="blog-post-content__share-link">
								<img
									src="{{root}}assets/images/share-icons/share-twitter.svg"
									class="blog-post-content__share-image"
									alt=""
									aria-hidden="true"
								>
								<span class="screen-reader-text">Twitter</span>
							</a>
							<a href="#" class="blog-post-content__share-link">
								<img
									src="{{root}}assets/images/share-icons/share-gmail.svg"
									class="blog-post-content__share-image"
									alt=""
									aria-hidden="true"
								>
								<span class="screen-reader-text">Gmail</span>
							</a>
						</div>
					</div>
				</section>

				{{>blog-newsletter
					class="blog-newsletter_bottom"
					description="Lorem ipsum dolor sit amet consectetur. Viverra pulvinar facilisis sed volutpat nec."
					avatars=true
				}}
			</div>

			<div class="blog-post__right">
				{{>blog-sidebar banner=true}}
			</div>
		</div>
	</div>
</section>
