<a class="blog-preview__item {{class}}" href="#">
	<div class="blog-preview__image">
		<img class="object-fit object-fit-cover" src="{{root}}{{image}}" alt="">
	</div>
	<div class="blog-preview__content">
		<p class="blog-preview__details">
			<span class="blog-preview__date">{{date}}</span>
			<span>|</span>
			<span class="blog-preview__category">{{category}}</span>
		</p>
		<h2 class="blog-preview__sub-title">{{title}}</h2>
	</div>
</a>
